<h3>Create a task list</h3>
<form (ngSubmit)="submitForm()">

  <div class="container">
    <label for="uname"><b>taskname</b></label> &nbsp;&nbsp;
    <input type="text" placeholder="Task name" name="taskname" [(ngModel)]="taskServiceService.currentTask.taskname">

    <br><br>

    <label for="psw"><b>description</b></label> &nbsp;
    <textarea placeholder="Description" name="desc" [(ngModel)]="taskServiceService.currentTask.desc"></textarea>

    <br><br>

    <label for="psw"><b>Start Time</b></label> &nbsp;
    <input type="date" placeholder="Start Time" name="startTime" [(ngModel)]="taskServiceService.currentTask.startTime">

    <br><br>

    <label for="psw"><b>End Time</b></label> &nbsp;&nbsp;
    <input type="date" placeholder="End Time" name="endtime" [(ngModel)]="taskServiceService.currentTask.endtime">

    <br><br>

    <button>Create Task</button>

  </div>

</form>
<label *ngIf="errorMessage">{{errorMessage}}</label>